@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik:wght@500&display=swap");
body {
  padding: 0px;
  font-family: "Rubik";
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background: #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #ff6d71;
  border-radius: 6px;
  border: 2px solid #000;
}
* {
  margin: 0;
}